<h2 mat-dialog-title>{{ selected.title }}</h2>
<mat-dialog-content class="scrollbar1">
  <h3>Dados da solicitação</h3>
  <div>
    Data de criação: {{ selected.createdOn | date : "dd/MM/yyyy HH:mm" }}
  </div>
  <div>Etapas para aprovação: {{ workflowSteps?.length }}</div>
  <div>Descrição da solicitação:</div>
  <div [innerHTML]="selected?.description"></div>
  <div class="divider3 m-t-10"></div>
  <h3 class="m-t-25 titles">Etapas</h3>
  <div *ngFor="let step of workflowSteps">
    <div class="d-flex">
      <div>
        <div>Responsável:</div>
        <div>{{ step.assignedTo.name }}</div>
      </div>
      <div class="status" *ngIf="step.isCurrent && !selected.canceled && !step.isApproved">
        Pendente
        <mat-icon class="timer icons-top yellow" aria-hidden="false" fontIcon="timer"></mat-icon>
      </div>
      <div class="status" *ngIf="step.isCurrent && selected.canceled">
        Rejeitada
        <mat-icon class="cancel icons-top red" aria-hidden="false" fontIcon="cancel"></mat-icon>
      </div>
      <div class="status" *ngIf="!step.isCurrent && !step.isApproved">
        Pendente etapa anterior
        <mat-icon class="hourglass_top icons-top yellow" aria-hidden="false" fontIcon="hourglass_top"></mat-icon>
      </div>
      <div class="status" *ngIf="!step.isCurrent && step.isApproved">
        Aprovada
        <mat-icon class="check icons-top green" aria-hidden="false" color="green" fontIcon="check"></mat-icon>
      </div>
    </div>
    <div>Descrição da etapa:</div>
    <div>{{ step.workflowTypeStepDescription }}</div>
    <!-- etapa atual -->
    <div *ngIf="step.isCurrent && !selected.canceled">
      <label for="comment">Comentário do aprovador:</label>
      <div>{{ step.comment }}</div>
      <div class="m-t-10"></div>
    </div>
    <!-- etapa rejeitada -->
    <div *ngIf="step.isCurrent && selected.canceled">
      <label for="comment">Comentário do aprovador:</label>
      <div>{{ step.comment }}</div>
      <div class="m-t-10"></div>
    </div>
    <!-- etapa pendente -->
    <div *ngIf="!step.isCurrent && !step.isApproved" >
      <div>Comentário do aprovador:</div>
      <div>{{ step.comment }}</div>
    </div>
    <!-- etapa aprovada -->
    <div *ngIf="!step.isCurrent && step.isApproved" >
      <div>Comentário do aprovador:</div>
      <div>{{ step.comment }}</div>
    </div>
    <div class="divider m-t-10"></div>
  </div>
</mat-dialog-content>
