:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  overflow-y: auto;
}
mat-card {
  width: 400px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
  background-color: #ffffff; /* Certifica-se de que o fundo do card seja branco */
  border-radius: 8px; /* Canto arredondado para o card */
}

.dashboard-container {
  display: flex;
  flex-direction: row; /* Mudar para linha */
  padding: 30px;
  flex-grow: 1;
}

.spacer {
  flex: 1;
}

.large-card {
  flex: 10;
  margin: 0 8px;
}

.small-card {
  flex: 3;
  margin: 0 8px;
}

.w-100 {
  width: 100%;
}

.w-95 {
  width: 99.5%;
}

input {
  background: #fff;
  border: 1px solid #cccccc;
  border-bottom-color: #efefef;
  border-radius: 5px;
  transition: background-color 0.3s; /* Adiciona uma transição suave */
  min-height: 30px;
  font-size: 15px;
  padding-left: 10px;
}

input:focus {
  background: #f9f9f9; /* Cor um pouco mais forte que #fff */
  border-color: #b3b3b3; /* Opcional: mudar a cor da borda para combinar */
  outline: none; /* Remove a borda padrão do navegador */
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

.custom-mat-form-field {
  width: 100%;
}

.custom-mat-form-field .mat-mdc-form-field-flex {
  background-color: white;
  border: 1px solid #cccccc;
  border-bottom-color: #efefef;
  border-radius: 5px;
  height: 45px;
}

.custom-mat-form-field .mat-mdc-form-field-infix {
  padding: 0 14px;
}

.custom-mat-form-field .mat-mdc-select {
  height: 45px;
  line-height: 45px;
}

.custom-mat-form-field .mat-mdc-select-value {
  line-height: 45px;
}

.custom-mat-form-field .mat-mdc-select-placeholder {
  line-height: 45px;
}

.custom-select {
  display: block;
  width: 100%;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.m-t-50 {
  margin-top: 50px;
}

.f-16 {
  font-size: 16px;
}
