<mat-toolbar color="primary">
  <span>Formulário de fluxo</span>
</mat-toolbar>
<div class="dashboard-container">
  <div class="spacer"></div>
  <mat-card class="large-card">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="title">Título</label>
        <input matInput formControlName="title" id="title" class="w-95 m-t-5" />
      </div>

      <div class="form-group form-group-froala form-group form-group-default m-t-15">
        <label for="description">Descrição</label>
        <div #editor="froalaEditor" [froalaEditor]="froalaTiny" formControlName="description" class="froala-editor m-t-5"></div>
      </div>

      <div formArrayName="workflowTypeStepTOList">
        <div *ngFor="let step of steps.controls; let i = index" [formGroupName]="i" class="form-group m-t-15">
          <label for="step-description-{{i}}">Descrição da Etapa {{i+1}}</label>
          <input matInput formControlName="description" id="step-description-{{i}}" class="w-95 m-t-5 m-t-10 m-b-15" />

          <label class="m-t-15" for="user-select">Responsável</label>
          <select matNativeControl formControlName="userId" id="user-select" class="custom-select m-t-5">
            <option value="" disabled selected>Selecione um responsável</option>
            <option *ngFor="let user of userList" [value]="user.id">{{user.name}}</option>
          </select>
          <mat-icon class="pointer m-t-5" aria-hidden="false" color="warn" (click)="removeStep(i)" fontIcon="delete"></mat-icon>
          <!-- <button mat-button >Remover Etapa</button> -->
        </div>
      </div>

      <button class="m-t-10" mat-button color="primary" (click)="addStep()">Adicionar Etapa</button>

      <div class="spacer"></div>
      <div class="t-end m-t-15" >
        <button style="width: 150px;" mat-raised-button color="primary" type="submit" (click)="onSubmit()">Criar</button>
      </div>
    </form>
  </mat-card>
  <div class="spacer"></div>
</div>
