/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.t-center{
  text-align: center;
}

.m-t-15{
  margin-top: 15px;
}

.m-t-5{
  margin-top: 5px;
}

.m-t-10{
  margin-top: 10px;
}

.m-t-30{
  margin-top: 30px;
}

.m-b-15{
  margin-bottom: 15px;
}

.t-end{
  text-align: end;
}

.pointer{
  cursor: pointer;
}

.m-l-5{
  margin-left: 5px;
}

.p-absolute{
  position: absolute;
}

.h-100{
  height: 100%;
}

.hover-effect {
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.hover-effect:hover {
  background-color: #f0f0f0; /* Cor cinza clara ao passar o mouse */
}

.m-l-15{
  margin-left: 15px;
}

.end{
  position: absolute;
  right: 15px;
}

.d-flex{
  display: flex;
}


