<mat-toolbar color="primary">
  <span>Dashboard</span>
  <mat-icon class="pointer end" aria-hidden="false" color="white" (click)="loggout()" fontIcon="logout"></mat-icon>
</mat-toolbar>

<div class="dashboard-container">
  <div class="spacer"></div>
  <mat-card class="large-card" id="scrollbar1" >
    <mat-tab-group  (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Meus fluxos">
        <ng-template mat-tab-label>
          <span matBadge="{{myWorkflows?.length ? myWorkflows?.length: 0 }}"  matBadgeSize="medium" matBadgeOverlap="false">MEUS FLUXOS</span>
        </ng-template>
        <div class="table">
          <div class="row hover-effect" style="display: list-item;" *ngFor="let workflow of myWorkflows; let i = index" (click)="openMyWorklowsModal(workflow)">
            <div *ngIf="i === 0" class="divider"></div>
            <div mat-button class="b-list m-l-15  p-t-10 " >
                <div class="workflow-list-title ">{{ workflow.title }}</div>
                <div *ngIf="!workflow.canceled && !workflow.finished" class="status progress">
                  Em progresso
                </div>
                <div *ngIf="workflow.finished" class="status finished">
                  Aprovado
                </div>
                <div *ngIf="workflow.canceled" class="status canceled">
                  Recusado
                </div>
                <div class="workflow-time-subtitle m-t-5">{{ workflow.createdOn | date:  'dd/MM/yyyy HH:mm' }}</div>
            </div>

            <div  class="divider"></div>
          </div>
          <div class="no-data-230" *ngIf="myWorkflows?.length==0">Nenhum fluxo aberto</div>
        </div>
    </mat-tab>
    <mat-tab label="Pendentes minha aprovação">
      <ng-template mat-tab-label>
        <span matBadge="{{workflowsAssignedToMe?.length ? workflowsAssignedToMe?.length : 0}}" matBadgeSize="medium" matBadgeOverlap="false">PENDENTES PARA APROVAÇÃO</span>
      </ng-template>
      <div class="table">
        <div class="row hover-effect" tyle="display: list-item;"  *ngFor="let assignedMe of workflowsAssignedToMe; let i = index" (click)="opeStepToAnalise(assignedMe)">
          <div *ngIf="i === 0" class="divider"></div>
          <div mat-button class="b-list m-l-15  p-t-10 " >
            <div class="workflow-list-title ">{{ assignedMe.title }}</div>
            <div class="userName">
              {{assignedMe.userName}}
            </div>
            <div class="workflow-time-subtitle m-t-5">{{ assignedMe.createdOn | date: 'dd/MM/yyyy HH:mm' }}</div>
        </div>
        <div  class="divider"></div>
        </div>
        <div class="no-data-230" *ngIf="myWorkflows?.length==0">Nenhum fluxo pendente sua aprovação</div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
  <div class="spacer"></div>
  <mat-card class="small-card">
    <mat-card-header class="h-color" style="z-index: 999;">
      <div mat-card-title class="card-title-wrapper">
        <span class="card-title">Fluxos disponíveis</span>
      </div>
      <button *ngIf="userService.user?.admin" mat-button class="create-button" (click)="goToCreateWorkflowType()">Criar</button>

    </mat-card-header>
    <div class="content-wrapper">
      <div class="workflow-list scrollbar" id="scrollbar1" *ngIf="workflowTypeList.length > 0; else noData">
        <div class="" *ngFor="let workflowType of workflowTypeList; let i = index">
          <div class="divider" *ngIf="i===0"></div>
          <div mat-button class="workflow-item hover-effect" (click)="goToWorkflowForm(workflowType)">
            <div class="workflow-title">{{ workflowType.title }}</div>
          </div>
          <div  class="divider"></div>
        </div>
      </div>
      <ng-template  #noData>
        <div class="no-data-230">Sem fluxos disponíveis</div>
      </ng-template>
    </div>
    <ng-template #noData>
      <div class="no-data-230">Sem fluxos disponíveis</div>
    </ng-template>
  </mat-card>
  <div class="spacer"></div>
</div>

