<h2 mat-dialog-title>{{ selected.title }}</h2>
<mat-dialog-content>
  <h3>Dados da solicitação</h3>
  <div>Solicitante: {{ selected.userName }}</div>
  <div>
    Data de criação: {{ selected.createdOn | date : "dd/MM/yyyy HH:mm" }}
  </div>
  <div>Descrição da solicitação:</div>
  <div [innerHTML]="selected?.workflowDescription"></div>

  <h3 class="m-t-25">Etapas</h3>
  <div *ngFor="let step of workflowSteps">
    <div [ngClass]="{'disabled': !step.isCurrent}">
      <div>Descrição da etapa:</div>
      <div>{{ step.workflowTypeStepDescription }}</div>
      <div *ngIf="step.isCurrent">
        <label for="comment">Comentário do aprovador:</label>
        <input placeholder="Comente aqui" class="d-flex input-style" matInput formControlName="comment" id="comment" />
        <div class="m-t-10">
          <button  class="red-button" mat-raised-button  type="submit" (click)="rejectStep()">Rejeitar etapa</button>
          <button  class="green-button" mat-raised-button  type="submit" (click)="aproveStep()">Aprovar etapa</button>
        </div>
      </div>
      <div *ngIf="!step.isCurrent && step.comment" disabled>
        <div>Comentário do aprovador:</div>
        <div>{{ step.comment }}</div>
      </div>
      <div class="divider m-t-10"></div>
    </div>
  </div>
</mat-dialog-content>
